HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/
mvnw.cmd
mvnw

# Compiled class file
*.class

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# MacOS
.DS_Store